section.about 
  .container 
    ul.about__top 
      li.about__card
        h2.about__title 
          span 01
          | Best Coffee Flavour
        img(src="img/about__img1.png", alt="coffee")
      li.about__card
        h2.about__title 
          span 02
          | Place to get lost 
        img(src="img/about__img2.png", alt="coffee")
      li.about__card
        h2.about__title 
          span 03
          | 
          |Proper roesting
        img(src="img/about__img3.png", alt="coffee")
    ul.about__bottom
      li.about__card.about__card--column 
          img(src="img/about__img4.png", alt="coffee")
          img(src="img/about__img5.png", alt="coffee")
      li.about__card  
        img(src="img/about__img6.png", alt="coffee")
      li.about__card.about__card--history
        h2.about__title.about__title--bottom Our history 
        h2.about__subtitle Create a new story with us
        p.about__text mauris rhoncus in imperdiet placerat. vestibu emismd nisl suscirpit ligula volutpat, a feyguat urn maxmaus. cars massa nibhtincidunt. donec et nibh maximus, est eu, mattis nuce. preasent ut quam quis quam venen atis fringilla. morbi vastibulum id tells mmodo mattis. aliauam erat volutpal.