footer.footer 
  .container 
    .footer__wrapper 
      a(href="#").footer__logo
        img(src="img/logo.svg", alt="logo")
      ul.footer__nav 
        li.footer__item
          a(href="#").footer__link Home 
        li.footer__item
          a(href="#").footer__link Reservation 
        li.footer__item
          a(href="#").footer__link Menu 
        li.footer__item
          a(href="#").footer__link About 
        li.footer__item
          a(href="#").footer__link Pages 
        li.footer__item
          a(href="#").footer__link Shop 
        li.footer__item
          a(href="#").footer__link Blogs 
      form.footer__form(action="#")
        input(type="email" placeholder="Enter Your Email").news__email 
        input(type="submit" value="").news__submit
  .footer__copy 
    p.footer__text e-Tennis © 2021. All rights reserved.
