section.hero 
  .container 
    h2.hero__title Enjoy Your Morning Coffee.
    p.hero__text The coofee is brewed by fist roasting the green coffee beans over hot coals in brazier. given to Opportunity
    .hero__wrapper 
      button.hero__test Test Coffee
      button.hero__video Play Video
        .circle 
          .play