section.menu 
  .container 
    h2.title Menu 
    h2.subtitle Coffee popular menu 
    ul.menu__list 
      li.menu__item 
        img(src="img/menu_img1.png", alt="coffee")
        p.menu__name Americano roasted gred 
        p.menu__price $12.00
      li.menu__item 
        img(src="img/menu_img1.png", alt="coffee")
        p.menu__name Americano roasted gred 
        p.menu__price $12.00
      li.menu__item 
        img(src="img/menu_img1.png", alt="coffee")
        p.menu__name Americano roasted gred 
        p.menu__price $12.00
      li.menu__item 
        img(src="img/menu_img1.png", alt="coffee")
        p.menu__name Americano roasted gred 
        p.menu__price $12.00
      li.menu__item 
        img(src="img/menu_img1.png", alt="coffee")
        p.menu__name Americano roasted gred 
        p.menu__price $12.00
      li.menu__item 
        img(src="img/menu_img1.png", alt="coffee")
        p.menu__name Americano roasted gred 
        p.menu__price $12.00
      li.menu__item 
        img(src="img/menu_img1.png", alt="coffee")
        p.menu__name Americano roasted gred 
        p.menu__price $12.00
      li.menu__item 
        img(src="img/menu_img1.png", alt="coffee")
        p.menu__name Americano roasted gred 
        p.menu__price $12.00
      