section.news 
  .container 
    h2.title.news__title Testimonial 
    h2.subtitle.news__subtitle Our latest news 
    ul.news__wrapper 
      li.news__item 
        img(src="img/news1.png", alt="coffee")
        .news__inner 
          .news__info 
            p.news__author 
              span By: 
              |username
            p.news__date 23.01.2022
          p.news__text Ideal cocktails from barmen....
          a(href="#").news__more Read more 
      li.news__item 
        img(src="img/news1.png", alt="coffee")
        .news__inner 
          .news__info 
            p.news__author 
              span By: 
              |username
            p.news__date 23.01.2022
          p.news__text Ideal cocktails from barmen....
          a(href="#").news__more Read more 
      li.news__item 
        img(src="img/news1.png", alt="coffee")
        .news__inner 
          .news__info 
            p.news__author 
              span By: 
              |username
            p.news__date 23.01.2022
          p.news__text Ideal cocktails from barmen....
          a(href="#").news__more Read more 
