section.product 
  .container
    h2.product__title Popular Product 
    h2.product__subtitle Coffee popular Product 
    ul.product__cards 
      li.product__card 
        img.product__img(src="img/product.png", alt="coffee")
        .product__rating
          .product__type coffee 
          .product__star#rateYo
        h3.product__name Brazil coffee gred
        p.product__price price - 
          span $320.00/ 
          | $358
        button.product__add Add to cart
      li.product__card 
        img.product__img(src="img/product.png", alt="coffee")
        .product__rating
          .product__type coffee 
          .product__star#rateYo
        h3.product__name Brazil coffee gred
        p.product__price price - 
          span $320.00/ 
          | $358
        button.product__add Add to cart
      li.product__card 
        img.product__img(src="img/product.png", alt="coffee")
        .product__rating
          .product__type coffee 
          .product__star#rateYo
        h3.product__name Brazil coffee gred
        p.product__price price - 
          span $320.00/ 
          | $358
        button.product__add Add to cart
    button.product__more view all product
    .product__machine 
      img(src="img/machine.png", alt="coffeemachine")
      .product__description 
        h2.product__subtitle.product__subtitle--machine Coffee 
          br
          |machine, buy for home
        p.product__text mauris rhoncus in imperdiet placerat. vestibu emismd nisl suscirpit ligula volutpat, a feyguat urn maxmaus. cars massa nibhtincidunt. donec et nib  maximus, est eu, mattis nuce. preasent ut quam quis quam venen atis fri ngilla. morbi vastibulum id tells mmodo mattis. aliauam erat volutpal.
        button.product__more.product__more--machine discover now