section.testimonial 
  .container 
    h2.title Testimonial 
    h2.subtitle Says our customers 
    ul.testimonial__slider 
      li.testimonial__slide 
        .testimonial__wrapper 
          img(src="img/review.png", alt="chelovek")
          p.testimonial__text Education WP is a special build for effective education Learning Management System site. Education WP is the next generation one of the best education WordPress themes which all the strength of eLearning WP..
        p.testimonial__name John Smith 
        .testimonial__stars 
          p.testimonial__job Peoduct Designer
          .testimonial__star 
      li.testimonial__slide 
        .testimonial__wrapper 
          img(src="img/review.png", alt="chelovek")
          p.testimonial__text Education WP is a special build for effective education Learning Management System site. Education WP is the next generation one of the best education WordPress themes which all the strength of eLearning WP..
        p.testimonial__name John Smith 
        .testimonial__stars 
          p.testimonial__job Peoduct Designer
          .testimonial__star 
      li.testimonial__slide 
        .testimonial__wrapper 
          img(src="img/review.png", alt="chelovek")
          p.testimonial__text Education WP is a special build for effective education Learning Management System site. Education WP is the next generation one of the best education WordPress themes which all the strength of eLearning WP..
        p.testimonial__name John Smith 
        .testimonial__stars 
          p.testimonial__job Peoduct Designer
          .testimonial__star 
      li.testimonial__slide 
        .testimonial__wrapper 
          img(src="img/review.png", alt="chelovek")
          p.testimonial__text Education WP is a special build for effective education Learning Management System site. Education WP is the next generation one of the best education WordPress themes which all the strength of eLearning WP..
        p.testimonial__name John Smith 
        .testimonial__stars 
          p.testimonial__job Peoduct Designer
          .testimonial__star 
      li.testimonial__slide 
        .testimonial__wrapper 
          img(src="img/review.png", alt="chelovek")
          p.testimonial__text Education WP is a special build for effective education Learning Management System site. Education WP is the next generation one of the best education WordPress themes which all the strength of eLearning WP..
        p.testimonial__name John Smith 
        .testimonial__stars 
          p.testimonial__job Peoduct Designer
          .testimonial__star 
      li.testimonial__slide 
        .testimonial__wrapper 
          img(src="img/review.png", alt="chelovek")
          p.testimonial__text Education WP is a special build for effective education Learning Management System site. Education WP is the next generation one of the best education WordPress themes which all the strength of eLearning WP..
        p.testimonial__name John Smith 
        .testimonial__stars 
          p.testimonial__job Peoduct Designer
          .testimonial__star 
